@using Insomnia.Controllers;

@{
    var price = ExchangeController.GetPrice("ICXBTC", new ExchangeSharp.ExchangeBinanceAPI());
}

<div class="row">
    <div class="col-md-4">
        <h2>Checking price for ICX-BTC</h2>
        <p>@price BTC</p>
    </div>
</div>
